{% extends "layouts/base.html" %}

{% block title %}Recetas{% endblock %}

{% block content %}
    

    {% if api_data %}
        <h2>Datos de la API:</h2>
        <p>{{ api_data }}</p>
    {% endif %}

    <form method="post" action="{% url 'recetas_view' %}">
        {% csrf_token %}
        <label for="new_nombre">Nuevo Nombre:</label>
        <input type="text" id="new_nombre" name="new_nombre" required>
        <button type="submit">Actualizar Nombre</button>
    </form>
    
    <h1>Nombre Actual: {{ current_nombre }}</h1>

    <h2>Recetas</h2>
    <ul>
        {% for receta in recetas %}
            <li>
                <h3>{{ receta.nombre }}</h3>
                <p>Ingredientes: {{ receta.ingredientes }}</p>
                <p>Pasos: {{ receta.pasos }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
